$radiantLogoColor: linear-gradient(90deg, rgb(79, 95, 229), rgb(13, 176, 246));
$invertedRadiantLogoColor: linear-gradient(90deg, rgb(13, 176, 246), rgb(79, 95, 229));

$logoColor: rgb(13, 176, 246);

$default-background: rgba(20, 22, 46, 1);
$default-box-shadow-color:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$default-font-color: #fdfdfd;
$default-nav-color: #aaaaaa;

$cardDefaultColor: rgb(255, 255, 255);

$confirmGreen: #00FF00;
$errorRed: #FF0000;
$borderDefaultColor: #000000;