$radiantLogoColor: linear-gradient(90deg, #4F5FE5ff, #0DB0F6ff);
$invertedRadiantLogoColor: linear-gradient(90deg, #0DB0F6ff, #4F5FE5ff);

$default-background: rgba(20, 22, 46, 1);
$default-box-shadow-color:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;