@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf");
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf");
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  font-weight: bold;
  font-style: italic, oblique;
}
.animated-body {
  opacity: 0;
}

.site-bg {
  background-color: rgb(20, 22, 46);
}

* {
  font-family: "Mulish", sans-serif;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgb(20, 22, 46);
  font-family: "Mulish", sans-serif;
}

.btn-sign-in,
.btn-continue,
.btn-sign-up {
  background-image: linear-gradient(90deg, rgb(79, 95, 229), rgb(13, 176, 246));
  height: auto;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 0.025em;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  color: #fdfdfd;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
  display: inline-block;
  background-size: 200% 100%;
}
.btn-sign-in:hover,
.btn-continue:hover,
.btn-sign-up:hover {
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.btn-go-to-sign-in,
.btn-go-to-sign-up {
  background-image: linear-gradient(90deg, rgb(79, 95, 229), rgb(13, 176, 246));
  height: auto;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 0.025em;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  color: #fdfdfd;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
  display: inline-block;
  background-size: 200% 100%;
}
.btn-go-to-sign-in:hover,
.btn-go-to-sign-up:hover {
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.btn-default {
  background-image: linear-gradient(90deg, rgb(79, 95, 229), rgb(13, 176, 246));
  height: auto;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 0.025em;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  color: #fdfdfd;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
  display: inline-block;
  background-size: 200% 100%;
}
.btn-default:hover {
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.logo-form {
  width: 150px;
  height: auto;
}

.container-input-form {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 14px;
}
.container-input-form .label-input-form {
  display: flex;
  width: 100px;
  align-items: center;
  margin-left: 3px;
  font-size: 15px;
  font-weight: 600;
}
.container-input-form .input-form {
  font-size: 14px;
  font-weight: lighter;
  padding: 10px 0px 10px 15px;
  width: 350px;
}
.container-input-form .input-form:focus {
  font-weight: 400;
}
.container-input-form .bx-at,
.container-input-form .bxs-hide,
.container-input-form .bx-user,
.container-input-form .bxs-show {
  position: absolute;
  top: 43%;
  right: 14px;
  transform: translateY(-27%);
}
.container-input-form .bxs-hide,
.container-input-form .bxs-show {
  cursor: pointer;
}

.container-btn-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.container-btn-form .btn-continue,
.container-btn-form .btn-sign-in {
  width: 90%;
}

.bxl-github {
  font-size: 2.5rem;
  cursor: pointer;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 10.5rem;
  /* Footer height */
}

.centered-container-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  animation: anmFadeIn 0.5s;
}

.hidden {
  display: none;
}

.link-sign-up, .link-sign-in {
  color: linear-gradient(90deg, rgb(13, 176, 246), rgb(79, 95, 229));
  font-weight: bold;
  cursor: pointer;
  text-decoration-line: none;
}

.cursor-light {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: rgb(13, 176, 246);
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}
.cursor-light::before {
  content: "";
  mix-blend-mode: difference;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 400px 150px rgb(13, 176, 246);
  height: 100%;
  border-radius: 50%;
  filter: blur(5px);
}

.cursor-light--link {
  transition: transform 0.2s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}

.footer {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 0;
  text-align: center;
  justify-content: center;
  height: 2.5rem;
  width: 100%;
}
.footer .logo-mini-footer {
  width: 30px;
  height: auto;
  margin-right: 5px;
}
.footer span {
  background-image: linear-gradient(90deg, rgb(79, 95, 229), rgb(13, 176, 246));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.header {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.header .container-logo {
  display: flex;
  align-items: center;
}
.header .logo {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.header .container-navbar .top-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  color: #fdfdfd;
  list-style-type: none;
  padding: 0px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
}
.header .container-navbar .top-nav-items li {
  text-decoration: none;
  color: inherit;
  width: 150px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header .container-navbar .top-nav-items .link-navbar {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-in-out;
}
.header .container-navbar .top-nav-items .link-navbar:hover {
  text-shadow: 0 0 5px rgb(13, 176, 246), 0 0 10px rgb(13, 176, 246), 0 0 15px rgb(13, 176, 246), 0 0 20px rgb(13, 176, 246), 0 0 25px rgb(13, 176, 246), 0 0 30px rgb(13, 176, 246), 0 0 40px rgb(13, 176, 246), 0 0 70px rgb(13, 176, 246);
}
.header .container-navbar .top-nav-items .icon-navbar:hover {
  text-shadow: 0 0 1px rgb(13, 176, 246), 0 0 70px rgb(13, 176, 246);
}
.header .container-buttons-go-to {
  display: flex;
  justify-content: center;
  height: auto;
}
.header .container-buttons-go-to,
.header .container-logo {
  width: 200px;
}
.header .bxl-github {
  background-image: linear-gradient(90deg, rgb(79, 95, 229), rgb(13, 176, 246));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 50px;
  margin: 0px 50px;
}
.header .navbar-btn-go-to-sign-in,
.header .navbar-btn-go-to-sign-up {
  width: 100px;
  height: 100%;
}
.header .navbar-btn-go-to-sign-up {
  margin-left: 5px;
}

.login-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 15px 15px 10px 15px; /* Si, lo so che bastava scrivere padding: 15px*/
  border: none;
  border-radius: 10px;
  margin-top: -10%;
}

.container-login-card-title {
  text-align: center;
  width: 100%;
}

.title-nexus-login-card {
  background-image: linear-gradient(90deg, rgb(79, 95, 229), rgb(13, 176, 246));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.form-content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.register-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 15px 15px 10px 15px; /* Si, lo so che bastava scrivere padding: 15px*/
  border: none;
  border-radius: 10px;
  margin-top: -10%;
}

.img-splash-screen {
  max-width: fit-content;
  width: 70%;
  height: auto;
}

.title-nexus {
  color: linear-gradient(90deg, rgb(79, 95, 229), rgb(13, 176, 246));
  font-size: 70px;
  text-shadow: 0 0 100px rgb(20, 22, 46), 0 0 200px rgb(13, 176, 246), 0 0 200px rgb(20, 22, 46), 0 0 300px rgb(13, 176, 246), 0 0 300px rgb(20, 22, 46);
}

.typing,
.typed-cursor {
  color: white;
  font-size: 70px;
  text-shadow: 0px 0px 10px rgb(13, 176, 246);
}

.container-title-nexus,
.container-typing {
  display: flex;
  align-items: center;
  align-self: center;
  height: auto;
  width: 100%;
  justify-content: center;
}

.container-title-nexus .title-nexus {
  background-image: linear-gradient(90deg, rgb(79, 95, 229), rgb(13, 176, 246));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 140px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.container-logo-nexus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 50px;
}

.container-btn-start-journey {
  margin-top: 100px;
}

.btn-start-journey {
  width: 250px;
  height: 40px;
}
.btn-start-journey:hover {
  box-shadow: 0 0 10px rgb(13, 176, 246), 0 0 40px rgb(13, 176, 246), 0 0 80px rgb(13, 176, 246);
}

.img-fluid {
  width: 700px; /* Imposta direttamente la larghezza */
  height: auto;
}

.lbl-no-account {
  margin-top: 15px;
  text-align: center;
}