@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf");
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf");
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  font-weight: bold;
  font-style: italic, oblique;
}
.animated-body {
  opacity: 0;
}

.site-bg {
  background-color: rgb(20, 22, 46);
}

* {
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgb(20, 22, 46);
  font-family: "Mulish", sans-serif;
}

.btn-sign-in,
.btn-continue,
.btn-sign-up {
  background-image: linear-gradient(90deg, #4f5fe5, #0db0f6);
  width: 100%;
  height: auto;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 0.025em;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  color: #fdfdfd;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
  display: inline-block;
  background-size: 200% 100%;
}
.btn-sign-in:hover,
.btn-continue:hover,
.btn-sign-up:hover {
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.btn-go-to-sign-in,
.btn-go-to-sign-up {
  background-image: linear-gradient(90deg, #4f5fe5, #0db0f6);
  width: 100%;
  height: auto;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 0.025em;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  color: #fdfdfd;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
  display: inline-block;
  background-size: 200% 100%;
}
.btn-go-to-sign-in:hover,
.btn-go-to-sign-up:hover {
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.btn-default {
  background-image: linear-gradient(90deg, #4f5fe5, #0db0f6);
  width: 100%;
  height: auto;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 0.025em;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  color: #fdfdfd;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
  display: inline-block;
  background-size: 200% 100%;
}
.btn-default:hover {
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.input-form {
  font-size: 14px;
  font-weight: lighter;
  padding: 10px 0px 10px 15px;
}
.input-form:focus {
  font-weight: 400;
}

.logo-form {
  width: 150px;
  height: auto;
}

.container-input-form {
  position: relative;
  margin-top: 14px;
}

.label-input-form {
  margin-left: 3px;
  font-size: 15px;
  font-weight: 600;
}

.bx-at,
.bxs-hide,
.bxs-show {
  position: absolute;
  top: 63%;
  right: 23px;
  transform: translateY(-27%);
}

.bxs-hide,
.bxs-show {
  cursor: pointer;
}

.bxl-github {
  font-size: 2.5rem;
  cursor: pointer;
}

.centered-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-sign-up, .link-sign-in {
  color: linear-gradient(90deg, #0db0f6, #4f5fe5);
  font-weight: bold;
  cursor: pointer;
  text-decoration-line: none;
}

.footer {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 5%;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.footer .logo-mini-footer {
  width: 30px;
  height: auto;
  margin-right: 5px;
}
.footer span {
  background-image: linear-gradient(90deg, #4f5fe5, #0db0f6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.header {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header .container-logo {
  display: flex;
  align-items: center;
  width: 150px;
}
.header .logo {
  width: 150px;
  height: auto;
  cursor: pointer;
}
.header .container-navbar .top-nav-items {
  display: flex;
  justify-content: center;
  align-items: center; /* Add this line */
  padding-left: 0;
  color: #fdfdfd;
  list-style-type: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.header .container-navbar .top-nav-items a {
  text-decoration: none;
  color: inherit;
}
.header .container-navbar .top-nav-items:hover {
  color: #aaaaaa;
}
.header .container-buttons-go-to {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 150px;
}
.header .bxl-github {
  background-image: linear-gradient(90deg, #4f5fe5, #0db0f6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 50px;
  margin: 0px 50px;
}
.header .navbar-btn-go-to-sign-in,
.header .navbar-btn-go-to-sign-up {
  width: 100px;
  height: auto;
  position: relative;
  margin-left: 5px;
}

.login-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 15px 15px 10px 15px; /* Si, lo so che bastava scrivere padding: 15px*/
  border: none;
  border-radius: 10px;
  margin-top: -10%;
}

.register-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 15px 15px 10px 15px; /* Si, lo so che bastava scrivere padding: 15px*/
  border: none;
  border-radius: 10px;
  margin-top: -10%;
}

.img-splash-screen {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 75%;
  height: auto;
}

.img-fluid {
  width: 700px; /* Imposta direttamente la larghezza */
  height: auto;
}

.lbl-no-account {
  margin-top: 15px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */