@use '../abstracts'as *;

.header {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // position: ative;
    // width: 100%;
    // text-align: center;
    // margin-top: 0px;

    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo {
        // position: relative;
        width: 150px;
        height: auto;
        cursor: pointer;
        margin-left: 10px;
        // margin-right: 100px;
    }

   .container-navbar {
    .top-nav-items {
        display: flex;
        justify-content: center;
        align-items: center; /* Add this line */
        padding-left: 0;
        color: #fdfdfd;
        list-style-type: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.5s ease-in-out;

        a {
            text-decoration: none;
            color: inherit;
        }

        &:hover {
            color: $default-nav-color;
        }
    }
}

    .container-buttons-go-to {
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }

    .bxl-github {
        background-image: $radiantLogoColor;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: 50px;
        margin: 0px 50px;
    }

    .navbar-btn-go-to-sign-in,
    .navbar-btn-go-to-sign-up {
        width: 100px;
        height: auto;
        position: relative;
        margin-left: 5px;

    }

}