@use '../abstracts'as *;

@mixin navBarIcon() {
    background-image: $radiantLogoColor;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
    cursor: pointer;

    &:hover {
        text-shadow:
            0 0 1px $logoColor,
            0 0 70px $logoColor,
    }
}

.header {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 80px;
    height: auto;

    .container-logo {
        display: flex;
        align-items: center;
    }

    .logo {
        // position: relative;
        width: 100%;
        height: auto;
        cursor: pointer;
        // margin-right: 100px;
    }

    .container-navbar {
        .top-nav-items {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            color: #fdfdfd;
            list-style-type: none;
            padding: 0px;
            cursor: pointer;
            font-weight: 500;
            text-decoration: none;
            font-size: 20px;

            li {
                text-decoration: none;
                color: inherit;
                width: 150px;
                height: auto;
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .link-navbar {
                text-decoration: none;
                color: inherit;
                transition: all 0.5s ease-in-out;

                &:hover {
                    text-shadow:
                        0 0 5px $logoColor,
                        0 0 10px $logoColor,
                        0 0 15px $logoColor,
                        0 0 20px $logoColor,
                        0 0 25px $logoColor,
                        0 0 30px $logoColor,
                        0 0 40px $logoColor,
                        0 0 70px $logoColor,
                }
            }
        }
    }

    .container-buttons-go-to {
        display: flex;
        justify-content: center;
        height: auto;
    }

    .container-buttons-go-to,
    .container-logo {
        width: 200px;
    }

    .bxl-github {
        @include navBarIcon();
        margin: 0px 50px;
    }

    .bx-user-circle {
        @include navBarIcon();
        font-size: 2.5rem;
        cursor: pointer;

    }

    .navbar-btn-go-to-sign-in,
    .navbar-btn-go-to-sign-up {
        width: 100px;
        height: 100%;

    }

    .navbar-btn-go-to-sign-up {
        margin-left: 5px;
    }

}

.header-main {

    .navbar-side {
        position: fixed;
        height: 100vh;
        background-color: #40405c;

        .navbar-side-list {
            height: 100%;
            display: flex;
            justify-content: center;
            list-style: none;
            flex-direction: column;
            // margin: 0 0rem;
            padding-left: 0;

            .navbar-item {
                padding: 0rem 2rem;
                border: 1px solid $default-background;
                border-style: none none solid none;


                &:hover {
                    cursor: pointer;
                    background-color: darken($color: $default-navbar-side-color, $amount: 5)
                }

                &:first-child {
                    cursor: default;
                    background-color: $default-navbar-side-color;
                }

                &:last-child {
                    margin-top: auto;
                    margin-bottom: 1rem;
                    border-style: solid none none none;
                }

                .nav-title,
                .nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    height: 4rem;
                    text-decoration: none;
                }

                .nav-title {
                    // justify-content: center;

                    .title-img {
                        width: 7rem;
                    }

                    .btn-close-open-navbar {
                        // margin-left: 1rem;
                        font-size: 1.7rem;
                        @include radiantColor;
                        transition: all 0.5s ease-in-out;
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .btn-navbar-not-active {
                        rotate: 180deg;
                    }

                    .btn-navbar-active {
                        margin-left: 1rem;
                    }

                }

                .nav-link {
                    &:visited {
                        color: inherit;
                    }

                    .user-pfp {
                        border-radius: 50%;
                    }


                    .link-img {
                        width: 2rem;
                    }

                    .nav-link-title {
                        margin-left: 1rem;
                        font-size: 1.1rem;
                        color: #fdfdfd;
                    }
                }
                .display-block {
                    display: block;
                }
                .display-none {
                    display: none;
                }
            }
        }
    }

    .navbar-side-active {
    }

    .navbar-side-not-active {
        width: 5%;
    }
}