// TODO TO MDIFY
.title-nexus {
    color: white;
    font-size: 70px;
}

.container-title-nexus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.container-logo-nexus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 50px;
}