@use '../abstracts'as *;

.navbar-side {
    position: fixed;
    height: 100vh;
    background-color: white;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    color: white;

    .container-banner {
        width: 100%;
        height: 20rem;

        .banner {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .container-img-page,
    // .main-page-title,
    // .container-user-content,
    // .container-banner {
    //     // margin-left: 6.7rem;
    // }

    .container-user-page {

        padding-left: 10rem;
        padding-right: 10rem;

        .container-img-page {

            //TODO GOING TO CHANGE to make it like notion
            .img-page {
                width: 10rem;
                height: 10rem;
                border: 1px solid white; //TODO GOING TO CHANGE 
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .main-page-title {
            margin-top: 3rem;

            .main-page-title-text {
                width: 100%;
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 2rem;
                border: none;
                background-color: $default-background;
                color: $default-font-color;
                resize: none;

                &:focus {
                    outline: none;
                }

                &:empty::after {
                   content: attr(data-text);
                    color: $default-placeholder-color;
                }
                &:hover {
                    cursor: text;
                }
            }
        }

        .container-user-content {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;

            height: 100%;
            overflow-wrap: break-word;

            .user-content {
                width: 100%;

                height: 100%;
                background-color: $default-background;
                color: $default-font-color;

                &:focus {
                    outline: none;
                }

                &:empty::after {
                    content: attr(data-text);
                    color: $default-placeholder-color;
                }
                &:hover {
                    cursor: text;
                }
            }
        }

    }
}

.main-page-content-not-active {
    margin-left: 6rem;
}

.main-page-content-active {
    margin-left: 12.7rem;
}


.main-overlay {
    position: fixed;
    inset: 0px;
    z-index: 999;
    display: block;
    pointer-events: none;
    // background-color: rgba(0, 0, 0, 0.4);
    .user-setting-panel {
        position: relative;
        background-color: white;
    }
}
