@use '../abstracts'as *;

.navbar-side {
    position: fixed;
    height: 100vh;
    background-color: white;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    color: white;

    .container-banner {
        width: 100%;
        height: 20rem;

        .banner {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container-user-page {
        padding-left: 10rem;
        padding-right: 10rem;

        .container-img-page {

            .img-page {
                width: 10rem;
                height: 10rem;
                border: 0.5px solid white;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .main-page-title {
            margin-top: 3rem;

            .main-page-title-text {
                width: 100%;
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 2rem;
                border: none;
                background-color: $default-background;
                color: $default-font-color;
                resize: none;

                &:focus {
                    outline: none;
                }

                &:empty::after {
                    content: attr(data-text);
                    color: $default-placeholder-color;
                }

                &:hover {
                    cursor: text;
                }
            }
        }

        .container-user-content {

            height: 100%;
            overflow-wrap: break-word;

            .user-content {
                width: 100%;

                height: 100%;
                background-color: $default-background;
                color: $default-font-color;

                &:focus {
                    outline: none;
                }

                &:empty::after {
                    content: attr(data-text);
                    color: $default-placeholder-color;
                }

                &:hover {
                    cursor: text;
                }
            }
        }

    }
}

.main-page-content-not-active {
    margin-left: 6rem;
}

.main-page-content-active {
    margin-left: 15rem;
}

.main-overlay {
    position: fixed;
    inset: 0px;
    z-index: 999;

    pointer-events: visible;
    background-color: $defaultMainOverlayColor;

    .container-add-component {}

    .container-user-setting-panel {
        display: flex;
        background-color: $defaultSettingPanelColor;
        position: fixed;

        width: 75rem;
        height: 40rem;

        justify-content: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        color: $default-font-color;

        .setting-navbar {
            background-color: $defaultNavbarSettingPanelColor;
            height: 100%;

            .setting-title,
            .setting-element {
                display: flex;
                padding: 0.5rem 2rem;
                align-items: center;
                justify-content: left;
            }

            .setting-title {
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .setting-element {
                .title-element {
                    font-weight: 800 700;
                    font-size: 1rem;
                    margin-left: 0.5rem;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $defaultNavbarSettingElementHoverColor;
                }
            }
        }

        .setting-content {
            padding: 2rem 4rem;
            width: 100%;

            .setting-home-screen {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .img-setting-home-screen {
                    width: 25rem;
                    height: auto;
                    object-fit: contain;
                }
            }

            .setting-workspace-content {

                .setting-workspace-content-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 1rem;

                }

                .setting-workspace-content-element {
                    .setting-workspace-content-element-title {
                        font-size: 1rem;
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    .setting-workspace-content-element-input {

                        .input-setting-workspace-name {
                            width: 100%;
                        }
                    }

                    .setting-workspace-content-element-icon {
                        .setting-workspace-icon {
                            width: 10rem;
                            height: 10rem;
                            cursor: pointer;
                            object-fit: contain;
                            border: 1px solid white;
                        }
                    }
                }
            }

            .setting-workspace-content-button {
                margin-top: 2rem;

                .btn-setting-workspace {
                    padding: 0.5rem 1rem;
                }
            }
        }
    }

    // .setting-navbar,
    // .container-user-setting-panel,
    // .setting-content {}
}

.toggle-list-button {
    border: none;
    cursor: pointer;
    color: $default-font-color;
    padding: 5px 10px;
    font-size: 16px;
}

.toggle-list-input {
    background-color: transparent;
    color: $default-font-color;
    border: none;
}

.context-menu {
    background: darken($color: $default-background, $amount: 5);
    color: $default-font-color;
    padding: 0.5rem 0.5rem;

    .context-menu-item {
        padding: 0.5rem 1rem;

        &:hover {
            background: darken($color: $default-background, $amount: 10);
            cursor: pointer;
        }
    }
}