@use '../abstracts'as *;

.navbar-side {
    position: fixed;
    height: 100vh;
    background-color: white;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    color: white;

    .container-banner {
        width: 100%;
        height: 20rem;

        .banner {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .container-img-page,
    // .main-page-title,
    // .container-user-content,
    // .container-banner {
    //     // margin-left: 6.7rem;
    // }

    .container-user-page {

        padding-left: 10rem;
        padding-right: 10rem;

        .container-img-page {

            //TODO GOING TO CHANGE to make it like notion
            .img-page {
                width: 10rem;
                height: 10rem;
                border: 1px solid white; //TODO GOING TO CHANGE 

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .main-page-title {
            margin-top: 3rem;

            .main-page-title-text {
                width: 100%;
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 2rem;
                border: none;
                background-color: $default-background;
                color: $default-font-color;
                resize: none;

                &:focus {
                    outline: none;
                }

                &:empty::after {
                    content: attr(data-text);
                    color: $default-placeholder-color;
                }

                &:hover {
                    cursor: text;
                }
            }
        }

        .container-user-content {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;

            height: 100%;
            overflow-wrap: break-word;

            .user-content {
                width: 100%;

                height: 100%;
                background-color: $default-background;
                color: $default-font-color;

                &:focus {
                    outline: none;
                }

                &:empty::after {
                    content: attr(data-text);
                    color: $default-placeholder-color;
                }

                &:hover {
                    cursor: text;
                }
            }
        }

    }
}

.main-page-content-not-active {
    margin-left: 6rem;
}

.main-page-content-active {
    margin-left: 15rem;
}


.main-overlay {
    position: fixed;
    inset: 0px;
    z-index: 999;
    // pointer-events: none;
    pointer-events: visible;
    background-color: $defaultMainOverlayColor;

    .container-user-setting-panel {
        display: flex;
        background-color: $defaultSettingPanelColor;
        position: fixed;
        // width: 60%;
        width: 75rem;
        height: 40rem;
        // height: 70%;
        // text-align: center;
        justify-content: left;
        top: 50%; // Change this to 50%
        left: 50%;
        transform: translate(-50%, -50%); // Change this to -50%, -50%
        z-index: 1000; //TODO not sure if this is the right z-index
        color: $default-font-color;
        // border: 1px solid white;
        // border-radius: 10px;

        .setting-navbar {
            background-color: $defaultNavbarSettingPanelColor;
            height: 100%;

            .setting-title,
            .setting-element {
                display: flex;
                padding: 0.5rem 2rem;
                align-items: center;
                justify-content: left;
            }

            .setting-title {
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .setting-element {
                .title-element {
                    font-weight: 800 700;
                    font-size: 1rem;
                    margin-left: 0.5rem;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $defaultNavbarSettingElementHoverColor;
                }
            }
        }

        .setting-content {
            padding: 2rem 4rem;
            width: 100%;

            .setting-home-screen {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .img-setting-home-screen {
                    width: 25rem;
                    height: auto;
                    object-fit: contain;
                }
            }
            .setting-workspace-content {

                .setting-workspace-content-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 1rem;

                }

                .setting-workspace-content-element {
                    .setting-workspace-content-element-title {
                        font-size: 1rem;
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    .setting-workspace-content-element-input {

                        .input-setting-workspace-name {
                            width: 100%;
                        }
                    }

                    .setting-workspace-content-element-icon {
                        .setting-workspace-icon {
                            width: 10rem;
                            height: 10rem;
                            cursor: pointer;
                            object-fit: contain; //TODO TO SEE
                            border: 1px solid white; //TODO GOING TO CHANGE
                        }
                    }
                }
            }

            .setting-workspace-content-button {
                margin-top: 2rem;

                .btn-setting-workspace {
                    padding: 0.5rem 1rem;
                }
            }
        }
    }

    .setting-navbar,
    .container-user-setting-panel,
    .setting-content {
        // border-radius: 10px; //TODO FIX THIS 
    }
}