// TODO DA RIGUARDARE
@use "../abstracts"as *;

@mixin btnDefault() {
   background-image: $radiantLogoColor;
    height: auto;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 0.025em;
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    color: $default-font-color;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    text-decoration: none;
    display: inline-block;
    background-size: 200% 100%;

    &:hover {
        background-position: 100% 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    }
}
 
@mixin btnAccess() {
    background-image: $radiantLogoColor;
    height: auto;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 0.025em;
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    color: $default-font-color;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    text-decoration: none;
    display: inline-block;
    background-size: 200% 100%;

    &:hover {
        background-position: 100% 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    }
}

.btn-sign-in,
.btn-continue,
.btn-sign-up {
    @include btnAccess();
}

.btn-go-to-sign-in,
.btn-go-to-sign-up {
    @include btnAccess();
}

.btn-default {
    @include btnDefault();
}