@use "../abstracts" as *;

@mixin accessCard() {
    background-color: rgb(255, 255, 255);
    box-shadow: $default-box-shadow-color;
    width: 100%; 
    max-width: 400px; 
    height: auto;
    padding: 15px 15px 10px 15px; /* Si, lo so che bastava scrivere padding: 15px*/
    border: none;
    border-radius: 10px;
}

.login-card, .register-card{
    @include accessCard();
}