@use '../abstracts'as *;

.cursor-light {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: $logoColor;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 1000;

    &::before {
        content: "";
        mix-blend-mode: difference;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        box-shadow: 0 0 100px 100px $logoColor;
        height: 100%;
        border-radius: 50%;
        filter: blur(5px);
    }



}

.cursor-light--link {
    // transform: translate(-50%, -50%) scale(1);
    transform: scale(0);
}