@mixin bxIcon() {
    position: absolute;
    top: 63%;
    right: 23px;
    transform: translateY(-27%);
}

.bx-at,
.bxs-hide,
.bx-user,
.bxs-show {
    @include bxIcon();
}

.bxs-hide,
.bxs-show {
    cursor: pointer;
}


.bxl-github {
    font-size: 2.5rem;
    cursor: pointer;
}
