
@use 'abstracts';
// @use 'utilities';
@use 'base';

@use 'components';
@use 'layout';
@use 'pages';

.img-fluid {
    width: 700px; /* Imposta direttamente la larghezza */
    height: auto;
}

// .login-card h2, input, p, label, button, span{
//   font-family: "Mulish", sans-serif;
// }

.msg-no-account {
    margin-top: 15px;
    text-align: center;
}