
@use 'abstracts';
// @use 'utilities';
@use 'base';

@use 'components';
@use 'layout';
@use 'pages';

// TODO FIX POSITION of those element
.img-fluid {
    width: 700px; /* Imposta direttamente la larghezza */
    height: auto;
}

.lbl-no-account {
    margin-top: 15px;
    text-align: center;
}
